<html>
<body>
    <form class="ml-auto form-inline" onsubmit="formSubmit(event)">
        <input class="form-control mr-sm-2" type="search" id="search-query" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <h1>{{query}}</h1>
    <ol>

        {% for movie in movies %}
            <li>{{ movie[1] }}({{ movie[3] }})</li>
        {% endfor %}
    </ol>
<script>
    function formSubmit(event) {
        event.preventDefault();
        window.location.pathname = document.getElementById('search-query').value;
    }
</script>
</body>
</html>