<html>
<body>
    <form onsubmit="formSubmit(event)">
        <input type="search" id="search-query" placeholder="Search" aria-label="Search">
        <button type="submit">Search</button>
    </form>
    <h1>{{query}}</h1>
    <ol>

        {% for movie in movies %}
            <li>{{ movie[1] }}({{ movie[3] }})</li>
        {% endfor %}
    </ol>
<script>
    function formSubmit(event) {
        event.preventDefault();
        window.location.pathname = document.getElementById('search-query').value;
    }
</script>
</body>
</html>